@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply font-sans text-base;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl mb-6;
  }

  h2 {
    @apply text-3xl mb-4;
  }

  h3 {
    @apply text-2xl mb-3;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-semibold text-white bg-[#E4A853] hover:bg-[#d39a43] transition-colors duration-200;
  }

  .card {
    @apply bg-white rounded-lg shadow-md p-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

